name: Harbor Push Test
on: push

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Real Dockerfile
        run: |
          echo "FROM nginx:alpine" > Dockerfile
          echo "RUN echo '<h1>Welcome to DevOps Lab 2026! Test lab</h1>' > /usr/share/nginx/html/index.html" >> Dockerfile

               
      - name: Login and Build
        run: |
          HARBOR_IP="192.168.3.149"
          # Используем номер запуска как тег (например, v1, v2, v3)
          TAG="v${{ github.run_number }}"
          IMAGE_NAME="devops-lab/test-image:$TAG"
          
          echo "Test123!" | docker login $HARBOR_IP:80 -u admin --password-stdin
          docker build -t $HARBOR_IP:80/$IMAGE_NAME .
          docker push $HARBOR_IP:80/$IMAGE_NAME

      # ЭТОТ ШАГ САМ МЕНЯЕТ YAML
      - name: Update Kubernetes resources
        run: |
          TAG="v${{ github.run_number }}"
          # Меняем старый тег на новый прямо в файле
          sed -i "s|image: 192.168.3.149:80/devops-lab/test-image:.*|image: 192.168.3.149:80/devops-lab/test-image:$TAG|g" test-app.yaml
          
          # Коммитим изменения обратно в репозиторий
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add test-app.yaml
          git commit -m "Update image tag to $TAG"
          git push
