name: Harbor Push Test
on: push

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Real Dockerfile
        run: |
          echo "FROM nginx:alpine" > Dockerfile
          echo "RUN echo '<h1>Welcome to DevOps Lab 2026!!</h1>' > /usr/share/nginx/html/index.html" >> Dockerfile

               
      - name: Login and Push to Harbor
        run: |
          HARBOR_IP="192.168.3.149:80"
          IMAGE_NAME="devops-lab/test-image:v1.0.1"
          
          # Логинимся (используйте логин/пароль от Harbor, который вы создали)
          echo "Test123!" | docker login $HARBOR_IP -u admin --password-stdin
          
          # Сборка и Пуш
          docker build -t $HARBOR_IP/$IMAGE_NAME .
          docker push $HARBOR_IP/$IMAGE_NAME
