name: Harbor Push Test
on: push

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Dummy Dockerfile
        run: |
          echo "FROM alpine" > Dockerfile
          echo "RUN echo 'Hello from My Lab' > /hello.txt" >> Dockerfile

      - name: Build and Push to Harbor
        run: |
          # Переменные для удобства (замените IP на ваш Сервер №2)
          HARBOR_IP="IP_СЕРВЕРА_2:80"
          IMAGE_NAME="devops-lab/test-image:latest"
          
          # Сборка
          docker build -t $HARBOR_IP/$IMAGE_NAME .
          
          # Пуш (сработает без логина, так как проект Public)
          docker push $HARBOR_IP/$IMAGE_NAME
